<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/checker_styles.css">
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
	<p>The checker</p>
<!--CONTENT-->
	</body>
</html>